.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.main {
    width: 400px;
    height: 250px;
}

.block0 {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.block1 {
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: right;
}

.block2 {
    width: 150px;
    height: 50px;
    background-color: #dbd400;
    float: left;
}

.block3 {
    width: 150px;
    height: 100px;
    background-color: #0093b7;
    float: left;
}

.block4 {
    width: 250px;
    height: 100px;
    background-color: #8c2727;
    float: left;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
